<div id="footer">
        <p>Contribute with ❤ in
          <a href="https://github.com/angular/angular" target="_blank">
            Angular
         </a>
         and
           <a href="https://github.com/angular/angular-cli" target="_blank">
             Angular CLI
          </a>
          credits to <a href="https://houssein.me/progressive-angular-applications" target="_blank">Houssein</a> reproduce the source code
          <a href="https://github.com/housseindjirdeh/angular2-hn" target="_blank">here</a>
        </p>
</div>
